.country {
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
  height: 338px;
  width: 264px;

  @include breakpoint-down (small) {
    width: unset;
    height: unset;
  }
  
  &__img {
    display: block;
    overflow: hidden;
    height: 160px;
    background-size: cover;
  }

  img {
    height: 100%;
    width: 100%;
    transform: scale(1.1);
  }

  &__description {
      margin-top: 24px;
      padding-bottom: 40px;

    &__name {
      margin-bottom: 22px;
    }

    &__text {
      margin-bottom: 5px;

      &__b {
        display: inline;
        margin-right: 5px;
      }
    }
  }
}