.country {
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
  max-width: 265px;

  @include breakpoint-up (medium) {
    //margin: 0 75px 40px 0;
  }

  img {
    width: 100%;
  }

  &__description {
      margin-top: 28px;
      padding-bottom: 40px;

    &__name {
      margin-bottom: 24px;
    }

    &__text {
      margin-bottom: 10px;

      &__b {
        display: inline;
        margin-right: 5px;
      }
    }
  }
}