.navbar {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  &__toggle {
    position: relative;
    cursor: pointer;
    border: 0;
    background-color: transparent;

    &__icon {
      position: absolute;
      left: -10px;
      top: 3px;
    }
  }
}