// Colors
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-1: hsl(207, 26%, 17%);
$very-dark-blue-2: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font sizes
$homepage-font: 0.875rem;
$detailpage-font: 1rem;

// MQ breakpoints 640px, 1024px, 1400px
$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "xlarge": "87.5em"
);