.dark {
  background-color: $very-dark-blue-1;
  color: $white;

  .navbar,
  .country,
  input,
  select {
    background-color: $dark-blue;
  }

  input,
  select,
  button,
  a,
  a:visited {
    color: $white;
  }

  .singlecountry {

    &__back {
      background-color: $dark-blue;
    }

    &__borders__button {
      background-color: $dark-blue;
    }
  }
}