html {
  box-sizing: border-box;
}

body {
  margin: 0;
  transition: all 250ms ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

input,
select {
  border: 0;

  &:active {
    border: 0;
    outline: 0;
  }

  &:focus-visible {
    outline: 0;
  }
}

a {
  text-decoration: none;

  &:visited {
    color: unset;
  }
}