.container {

  // Header container
  &-h {
    margin: 0 16px;
  }

  // Single Country container
  &-sc {
    margin: 0 28px;
  }

  // Countries List container
  &-cl {
    margin: 0 54px;
    
    @include breakpoint-down (small) {
      margin: 0 45px;
    }
  }

  &-c {
    margin: 0 24px;
  }

  @include breakpoint-up (medium) {
    &-cl,
    &-h,
    &-sc {
      margin: 0 75px;
    }
  }
}