body,
input,
select,
button,
link {
  font-family: 'Nunito Sans', sans-serif;
}

.navbar {
  font-size: $homepage-font;
  font-weight: 800;
  button {
    font-size: $homepage-font;
  }

  @include breakpoint-up (large) {
    font-size: $detailpage-font;  
  }
}

.form {
  font-size: $homepage-font;
  input,
  select {
    font-size: $homepage-font;
  }
}

.country {
  font-size: $homepage-font;

  &__description__text__b {
    font-weight: 600;
  }
}

.singlecountry {

  &__text__b {
    font-weight: 600;
  }

  &__borders__title {
    font-weight: 600;
    font-size: $detailpage-font;
  }
}